.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  
}

.container1{
    width: 500px;
    height: 700px;
    font-family: 'Nanum Gothic', sans-serif;
}

main img{
    width: 200px;
}



.centre{
    margin: 0 30px;
}

header{
    display: flex;
    justify-content: space-between;
   
margin-bottom: 10px;    
}

.header-left span{
    font-size: 8px;
    margin-left: 20px;
    font-weight: bold;
}

.header-left{
    padding: 3px 9px;
}


.header-left h2{
    margin-bottom: 0;
    padding: 0;
    font-family: 'BIZ UDGothic', sans-serif;
    font-size: 20px;
}

.header-right{
    font-size: 8px;
    padding: 5px;
    background-color: yellow;
    
    height: 8px;
}

.nav-elements ul{
    display: flex;
    justify-content: space-between;
    font-size: 7px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

.nav-elements li{
    margin: 5px ;
}

hr{
    font-weight: bold;
    margin: 0 ;
    border-top: 1px solid black;
}

main{
    text-align: center;
    background-image: url("/img_files/bg_img2.jpg");
    padding-bottom: 1px;
    margin-bottom: 5px;
}

.main-hr{
    width: 300px;
    margin: 0 65px;
    border-top: 2px solid rgb(130, 249, 119);
    border-bottom: 2px solid rgb(130, 249, 119);
    background-color: rgb(130, 249, 119);

}

.main-hr1{
    width: 300px;
    margin: 0 65px;
    border-top: 2px solid rgb(97, 240, 221);
    border-bottom: 2px solid rgb(97, 240, 221);
    background-color: rgb(97, 240, 221);
    margin-bottom: 8px;
}

.main-top{
    padding-top: 22px;
    padding-bottom: 5px;
    letter-spacing: 3px;
    font-weight: bold;
}

.main-centre{
    font-size: 60px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 10px;
    margin-bottom: 6px;
}

.main-centre1{
    font-size: 35px;
    letter-spacing: 4px;
    margin-bottom: 22px;
}

main .imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}

.img-left{
    margin-right: 5px;
}

.main-bottom{
    font-size: 32px;
    letter-spacing: 4px;
    font-weight: bold;
    color: rgb(0, 217, 255);
    margin-bottom: 25px;
}

.off-desc{
    text-align: center;
}

.off-desc .head{
    font-size: 8px;
    letter-spacing: 2px;
    font-weight:bold;
    margin-bottom: 7px;
}

.off-desc .bottom{
    font-size: 8px;
    max-width: 400px;
    text-align: justify;
    margin-left: 25px; 
    margin-bottom: 15px;
    
}

.footer-right{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    padding: 8px;
}




.footer-right img{
    width: 13px;
    margin: 0px 4px;
}